<!-- begin intro -->
<div class="intro">
	<div class="l-center">
		<div class="intro__title">
			<div class="intro__desc">
				<p class="intro__motto">So we reinvented it. Let us introduce you</p>
			</div>
			<div class="intro__heading">
				<div class="title-h1 title-h1_bitcoin">Bitcoin 2.0</div>
			</div>
		</div>
		<div class="intro__img">
			<picture>
				<source media="(max-width: 599px)" srcset="img/paper-sm.svg">
				<source media="(max-width: 999px)" srcset="img/paper-md.svg">
				<source media="(max-width: 1439px)" srcset="img/paper-lg.svg">
				<source media="(min-width: 1440px)" srcset="img/paper-xl.svg">
				<img srcset="img/paper-sm.svg" alt="paper">
			</picture>
		</div>
		<div class="intro__info">
			<div class="intro__bl">
				<div class="intro__el">Blockchain = Local Group</div>
				<div class="intro__el intro__el_colored">Bitcoin 2.0 = Universe</div>
			</div>
			<div class="intro__group">
				<div class="intro__text">
					<p>With our shit you'll became rich and famous, your penis will grow twice (both in length and width) and your balls will be able to destroy diamonds</p>
				</div>
				<div class="intro__btn"><a href="#" class="button button_token">Get token</a></div>
			</div>
		</div>
	</div>
</div>
<!-- end intro -->