<!-- begin tech -->
<div class="tech">
	<div class="l-center">
		<div class="tech__inner">
			<div class="grid grid_tech">
				<div class="grid__bl">
					<div class="grid__subtitle">Build on</div>
					<img class="grid__img grid__img_ethereum" src="img/tech/tech-partner1.png" alt="tech-partner1">
				</div>
				<div class="grid__bl">
					<div class="grid__subtitle">Member of</div>
					<img class="grid__img grid__img_circle" src="img/tech/tech-partner2.png" alt="tech-partner2">
				</div>
				<div class="grid__bl">
					<div class="grid__subtitle">In association with</div>
					<img class="grid__img grid__img_parity" src="img/tech/tech-partner3.png" alt="tech-partner3">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end tech -->