.features
	padding: 56px 0 12px
	+rmin($sm)
		padding: 52px 0 56px
	+rmin($sm-to-md)
		padding: 72px 0 48px
	+rmin($md-to-lg)
		padding: 72px 0
	+rmin($xl)
		padding-bottom: 88px
	&__btn
		+rmin($sm-to-md)
			padding: 0 36px
		+rmin($md)
			padding: 0 75px
		+rmin($md-to-lg)
			padding: 0 80px
		+rmin($lg)
			max-width: 1314px
			margin: 0 auto

.feature-icon
	display: inline-block
	width: 84px
	height: 68px
	background-size: contain
	background-repeat: no-repeat
	+rmin($sm)
		width: 108px
		height: 87px
	$list: fast decentralized optimized
	@each $item in $list
		$index: index($list, $item)
		&_#{$item}
			background-image: url(../img/multicolor-svg/feature/feature-#{$index}.svg)


.case-icon
	display: inline-block
	width: 84px
	height: 62px
	background-size: contain
	background-repeat: no-repeat
	+rmin($md-to-lg)
		width: 94px
		height: 86px
	$list: first second third forth fifth sixth
	@each $item in $list
		$index: index($list, $item)
		&_#{$item}
			background-image: url(../img/multicolor-svg/cases/case-sm-#{$index}.svg)
			+rmin($md-to-lg)
				background-image: url(../img/multicolor-svg/cases/case-lg-#{$index}.svg)