.features
	padding: 56px 0 12px
	+rmin($sm)
		padding: 52px 0 56px
	+rmin($sm-to-md)
		padding: 72px 0 48px
	+rmin($md-to-lg)
		padding: 72px 0
	+rmin($xl)
		padding-bottom: 88px
	&__ttl
		margin-bottom: 38px
		text-align: center
		font-size: 38px
		font-weight: normal
		line-height: 1.32
		letter-spacing: -0.6px
		color: #2e81ff
		+rmin($sm)
			margin-bottom: 45px
			font-size: 53px
			font-weight: 100
			line-height: 1.43
			letter-spacing: -0.8px
		+rmin($sm-to-md)
			margin-bottom: 48px
			font-size: 60px
			line-height: 1.27
			letter-spacing: -0.9px
		+rmin($md-to-lg)
			margin-bottom: 48px
	&__btn
		+rmin($md-to-lg)
			padding: 0 80px
		+rmin($lg)
			max-width: 1314px
			margin: 0 auto

.feature-icon
	display: inline-block
	width: 84px
	height: 68px
	background-size: contain
	background-repeat: no-repeat
	+rmin($sm)
		width: 108px
		height: 87px
	$list: fast decentralized optimized
	@each $item in $list
		$index: index($list, $item)
		&_#{$item}
			background-image: url(../img/multicolor-svg/feature/feature-#{$index}.svg)


.case-icon
	display: inline-block
	width: 84px
	height: 62px
	background-size: contain
	background-repeat: no-repeat
	+rmin($md-to-lg)
		width: 94px
		height: 86px
	$list: first second third forth fifth sixth
	@each $item in $list
		$index: index($list, $item)
		&_#{$item}
			background-image: url(../img/multicolor-svg/cases/case-sm-#{$index}.svg)
			+rmin($md-to-lg)
				background-image: url(../img/multicolor-svg/cases/case-lg-#{$index}.svg)

.grid
	display: flex
	flex-wrap: wrap
	&_features
		+rmin($sm-to-md)
			margin: 0 -4px 24px
			.grid__bl
				flex-basis: 50%
				padding: 0 16px
		+rmin($md-to-lg)
			margin: 0
			.grid__bl
				flex-basis: 33%
				margin-bottom: 56px
				padding: 0 15px
	&_cases
		margin-bottom: 16px
		+rmin($sm)
			margin-bottom: 20px
		+rmin($sm-to-md)
			margin-bottom: 0
		+rmin($md-to-lg)
			margin: 0 -15px 24px
			.grid__pic
				float: left
				margin-right: 7px
			.grid__info
				overflow: hidden
		.grid__bl
			margin-bottom: 32px
			+rmin($sm)
				margin-bottom: 52px
				padding: 0 24px
			+rmin($sm-to-md)
				max-width: 815px
				margin: 0 auto 64px
				padding: 0
			+rmin($md-to-lg)
				flex-basis: 50%
				margin-bottom: 48px
				padding: 0 32px
				text-align: left
				+clr
	&__bl
		flex-basis: 100%
		margin-bottom: 45px
		text-align: center
		font-size: 17px
		line-height: 1.41
		letter-spacing: 0.2px
		color: rgba($charcoal-grey, 0.88)
		+rmin($sm-to-md)
			margin-bottom: 48px
	&__pic
		margin-bottom: 7px
		font-size: 0
		+rmin($sm)
			margin-bottom: 11px
		&_sm-mb
			margin-bottom: 10px
	&__ttl
		margin-bottom: 12px
		font-size: 19px
		font-weight: 500
		line-height: 1.26
		letter-spacing: -0.1px
		color: $midnight
		+rmin($sm)
			font-size: 24px
			margin-bottom: 16px
		+rmin($sm-to-md)
			margin-bottom: 28px
			font-size: 19px
			font-weight: 500
			line-height: 1.26
			letter-spacing: -0.1px
		+rmin($md-to-lg)
			min-height: 48px
			margin-bottom: 4px
		+rmin($lg-to-xl)
			min-height: auto
			margin-bottom: 28px

