<!-- begin footer -->
<div class="footer">
	<div class="l-center">
		<div class="footer__in">
			<div class="footer__bl">
				<div class="footer__copyright">Copyright © 2017 BTC 2.0 Foundation, Zurich, Switzerland. All Rights Reserved.</div>
				<div class="footer__group">
					<div class="footer__el">
						<a href="#" class="footer__link">Privacy Policy</a>
					</div>
					<div class="footer__el">
						<a href="#" class="footer__link">Cookie Policy</a>
					</div>
					<div class="footer__el">
						<a href="#" class="footer__link">Terms of Use</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->